<section class="about-me-section">
    <div class="container">
        <h2 class="about-me-header">ABOUT <span class="about-me-span-me">ME</span></h2>
        <div class="about-me-container">
            <div class="about-me-picture-container">
                <picture>
                    <source srcset="../img/about-me/about-me-desk.jpg 1x, ../img/about-me/about-me-desk@2x.jpg 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="../img/about-me/about-me-tab.jpg 1x, ../img/about-me/about-me-tab@2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source srcset="../img/about-me/about-me-phone.jpg 1x, ../img/about-me/about-me-phone@2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <img src="../img/about-me/about-me-phone.jpg" alt="Man with laptop" />
                </picture>
            </div>
            <div class="about-me-descr-cont about-me-bio">
                <h3 class="about-me-h3">BIO</h3>
                <p class="about-me-article">I'm Lloyd Jefferson, a talented programmer specializing in software
                    development.
                    My expertise spans various programming languages and technologies, and I am dedicated to continually
                    enhancing my skills. I thrive on seeking unconventional and creative solutions to problems,
                    leveraging a
                    high level of analytical skills to effectively tackle even the most challenging tasks.</p>
                <p class="about-me-article">Adaptable to both independent and team-oriented work, I collaborate
                    seamlessly
                    with colleagues, exchanging ideas and finding optimal solutions My professional maturity enables me
                    to
                    navigate challenges and stressful situations with a calm demeanor, maintaining a consistently high
                    quality of work. Committed to self-improvement, I actively engage in studying new technologies and
                    practices to stay current with the latest innovations in the field.</p>
            </div>
            <div class="about-me-descr-cont">
                <h3 class="about-me-h3">EDUCATION</h3>
                <ul class="about-me-article about-me-ul">
                    <li class="about-me-li">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</li>
                    <li class="about-me-li">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York
                    </li>
                    <li class="about-me-li">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                </ul>
            </div>
            <div class="about-me-descr-cont">
                <h3 class="about-me-h3 about-me-bg-cont">ROLE</h3>
                <ul class="about-me-article about-me-ul">
                    <li class="about-me-li">Frontend development</li>
                    <li class="about-me-li">HeadlessCMS, Wordpress</li>
                    <li class="about-me-li">Blender (enjoy)</li>
                </ul>
            </div>
        </div>

    </div>
</section>