<!-- section benefits -->
<section class="benefits">
  <div class="container">
    <div class="ben-title">
      <h2 class="ben-title-text">
        <span class="benefits-word">Benefits</span>
        <span class="rest-of-title"> of working with me</span>
      </h2>
      <img class="ben-img" src="../img/benefits/benefits-decor.png" alt="decorations" />
    </div>

    <ul class="ben-content-all">
      <li class="ben-content-list">
        <a class="icon-sq" href="#">
          <svg class="ben-icon" width="24" height="24">
            <use href="/icons.svg#icon-ben-user"></use>
          </svg>
        </a>
        <div class="ben-expert">
          <h3 class="ben-subtitle">Expertise</h3>
          <p class="ben-subtitle-text">
            With extensive experience in development, I have a deep
            understanding of programming and website development.
          </p>
        </div>
      </li>
      <li class="ben-content-list">
        <a class="icon-sq" href="#">
          <svg class="ben-icon" width="24" height="24">
            <use href="/icons.svg#icon-ben-chat"></use>
          </svg>
        </a>
        <div class="ben-chat">
          <h3 class="ben-subtitle">Communication</h3>
          <p class="ben-subtitle-text">
            Understanding your needs and wants is my priority and I am always
            available for discussions and open to corrections.
          </p>
        </div>
      </li>
      <li class="ben-content-list">
        <a class="icon-sq" href="#">
          <svg class="ben-icon" width="24" height="24">
            <use href="/icons.svg#icon-ben-art"></use>
          </svg>
        </a>
        <div class="ben-art">
          <h3 class="ben-subtitle">Art</h3>
          <p class="ben-subtitle-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </div>
      </li>
      <li class="ben-content-list">
        <a class="icon-sq" href="#">
          <svg class="ben-icon" width="24" height="24">
            <use href="/icons.svg#icon-ben-time"></use>
          </svg>
        </a>
        <div class="ben-urgent">
          <h3 class="ben-subtitle">Urgent execution</h3>
          <p class="ben-subtitle-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>