<section id="faq" class="faq-section">
  <div class="container faq-container">
    <h2 class="faq-title">
      FREQUENTLY ASKED <span class="faq-title-green">QUESTION</span>
    </h2>
    <ul class="accordion">
      <li class="ac-item">
        <div class="ac-question">
          <p class="question">
            PROGRAMMING LANGUAGES ARE MOST OFTEN USED IN YOUR PROJECT?
          </p>
          <button type="button" class="ac-trigger">
            <svg class="trigger-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-answer">
          <p class="answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac-item">
        <div class="ac-question">
          <p class="question">ARE THE DEADLINES FOR THE PROJECT?</p>
          <button type="button" class="ac-trigger">
            <svg class="trigger-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-answer">
          <p class="answer">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac-item">
        <div class="ac-question">
          <p class="question">PAYMENT METHODS DO YOU ACCEPT?</p>
          <button type="button" class="ac-trigger">
            <svg class="trigger-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-answer">
          <p class="answer">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="ac-item">
        <div class="ac-question">
          <p class="question">CAN I CONTACT YOU?</p>
          <button type="button" class="ac-trigger">
            <svg class="trigger-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-answer">
          <p class="answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac-item">
        <div class="ac-question">
          <p class="question">YOU PROVIDE ADVICE OR SUPPORT?</p>
          <button type="button" class="ac-trigger">
            <svg class="trigger-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-answer">
          <p class="answer">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac-item">
        <div class="ac-question">
          <p class="question">
            WHAT DOES THE PROCESS OF DEVELOPING A SOFTWARE PRODUCT LOOK LIKE
            FROM IDEA TO IMPLEMENTATION?
          </p>
          <button type="button" class="ac-trigger">
            <svg class="trigger-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-answer">
          <p class="answer">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
