<header class="header">
  <div class="container">
    <a href="./index.html" class="header--logo"
      >Lloyd<span class="header--logo-sub">Jefferson.</span></a
    >
    <nav>
      <label class="header--toggle">
        <input type="checkbox" id="theme-switcher" />
        <span class="header--slider"> </span>
      </label>
      <ul class="header--nav-list">
        <li class="header--nav--list-item">
          <a href="#about-me" class="header--nav--list-link">About me</a>
        </li>
        <li class="header--nav--list-item">
          <a href="#my-projects" class="header--nav--list-link">Projects</a>
        </li>
        <li class="header--nav--list-item">
          <a href="#work-together" class="header--nav--list-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="header--open-menu"
      aria-label="open menu button"
    >
      <svg class="header--burger-icon" width="32" height="32">
        <use href="img/sprite.svg#icon-burger-btn"></use>
      </svg>
    </button>
  </div>
</header>
