<section id="hero" class="hero section">
  <div class="container">
    <picture>
      <source srcset="img/hero/decor_bg-desk.png" media="(min-width: 1280px)" />
      <source srcset="img/hero/decor_bg-tablet.png" media="(min-width: 768px)" />
      <img src="img/hero/decog_bg.png" alt="back drop" class="hero--bg" />
    </picture>
    <div class="hero--wrapper">
      <h1 class="hero--title">
        Hello, I am
        <span class="hero--title-sub">Fullstack developer</span>
      </h1>
      <img src="/img/hero/hero_desk.webp" srcset="/img/hero/hero_desk.webp 1x, /img/hero/hero_desk@2x.webp 2x"
        alt="Lloyd Jefferson" width="592" height="444" />
    </div>
    <div class="hero--lower-box">
      <div class="hero--btn">
        <svg class="hero--icon" width="30" height="16">
          <use href="/img/sprite.svg#icon-green"></use>
        </svg>
        <a href="#work-together" class="hero--link">Order the project</a>
      </div>
      <p class="hero--text">
        I work with people all over the world to create
        <span class="hero--title-sub">impressive</span> and
        <span class="hero--title-sub">functional websites</span>
        that reflect each client’s unique personality.
      </p>
    </div>
  </div>
  <div class="hero--links-bar">
    <ul class="hero--links-list">
      <li>
        <a href="https://www.instagram.com/goitclub/ " class="hero--socials-links" target="_blank">Instagram</a>
      </li>
      <li>
        <a href="https://www.facebook.com/goITclub/ " class="hero--socials-links" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/school/goit-start-your-career-in-it " class="hero--socials-links" target="_blank">Linkedin</a>
      </li>
      <li>
        <a href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
          class="hero--socials-links" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</section>
