<div class="mobile-menu">
  <div class="menu-header">
    <a href="#" class="logo">
      LLOYD<span class="logo-accent">JEFFERSON.</span>
    </a>
    <button class="menu-close">
      <svg width="32" height="32">
        <use href="../public/mobilemenu.svg#iconx1"></use>
      </svg>
    </button>
  </div>

  <div class="menu-content">
    <svg class="decor-top" width="351.67" height="264.43">
      <use href="../public/mobilemenu.svg#iconGroup68"></use>
    </svg>

    <nav>
      <ul>
        <li><a href="#">About me</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>

    <svg class="decor-bottom" width="169.58" height="131.26">
      <use href="../public/mobilemenu.svg#iconGroup64"></use>
    </svg>
  </div>
</div>
