<div class="mobile-menu" data-menu>
  <div class="menu-header">
    <a href="#" class="logo">
      LLOYD<span class="logo-accent">JEFFERSON.</span>
    </a>
    <div class="containermobailmenu theme-btn-container">
      <button class="theme-auto-set-btn" type="button">A</button>
      <button class="theme-toggle-btn" type="button">M</button>
    </div>
    <button class="menu-close" data-menu-close>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 8L8 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M8 8L24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>

  <div class="menu-content">
    <picture class="decor-top">
      <source srcset="./img/mobile-menu/Group68.webp" type="image/webp" />
      <img src="./img/mobile-menu/Group68.png" alt="Group68" loading="lazy" />
    </picture>

    <nav>
      <ul>
        <li><a href="#about-me">About me</a></li>
        <li><a href="#my-projects">Projects</a></li>
        <li><a href="#work-together">Contacts</a></li>
      </ul>
    </nav>

    <picture class="decor-bottom">
      <source srcset="./img/mobile-menu/Group64.webp" type="image/webp" />
      <img src="./img/mobile-menu/Group64.png" alt="Group64" loading="lazy" />
    </picture>
  </div>
</div>