 <!-- Модальное окно для отправки -->
 <div class="work-together-modal success-modal" id="successModal">
    <div class="work-together-modal-content">
        <span class="work-together-close-modal">&times;</span>
        <h1 class="work-together-modal-par">Thank you for your interest in cooperation!</h1>
        <p class="work-together-modal-par-par">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
    </div>
</div>

<!-- Модальное окно ошибки -->
<div class="work-together-modal error-modal" id="errorModal">
    <div class="work-together-modal-content">
        <span class="work-together-close-modal">&times;</span>
        <p id="errorMessage">Error sending message. Please try again.</p>
    </div>
</div>