<section id="my-projects" class="projects">
  <div class="container">
    <h2 class="projects-title">My <span>projects</span></h2>
    <ul class="projects-list">
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              img/my-projects/wallet_desc@1x.jpg 1x,
              img/my-projects/wallet_desc@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/my-projects/wallet_tablet@1x.jpg 1x,
              img/my-projects/wallet_tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/my-projects/wallet_mobile@1x.jpg 1x,
              img/my-projects/wallet_mobile@2x.jpg 2x
            "
          />
          <img
            src="img/my-projects/wallet_desc@2x.jpg"
            alt="wallet"
            width="1008"
            height="580"
          />
        </picture>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">Wallet webservice</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              img/my-projects/greenharvest_desc@1x.jpg 1x,
              img/my-projects/greenharvest_desc@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/my-projects/greenharvest_tablet@1x.jpg 1x,
              img/my-projects/greenharvest_tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/my-projects/greenharvestt_mobile@1x.jpg 1x,
              img/my-projects/greenharvest_mobile@2x.jpg  2x
            "
          />
          <img
            src="img/my-projects/greenharvest_desc@2x.jpg"
            alt="greenharvest"
            width="1008"
            height="580"
          />
        </picture>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">Green harvest webservice</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              img/my-projects/english_desc@1x.jpg 1x,
              img/my-projects/english_desc@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/my-projects/english_tablet@1x.jpg 1x,
              img/my-projects/english_tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/my-projects/english_mobile@1x.jpg 1x,
              img/my-projects/english_mobile@2x.jpg 2x
            "
          />
          <img
            src="img/my-projects/english_desc@2x.jpg"
            alt="english"
            width="1008"
            height="580"
          />
        </picture>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">English Exellence webservice</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item hidden">
        <img
          src="img/my-projects/energyflow_desc@1x.jpg"
          srcset="
            img/my-projects/energyflow_desc@1x.jpg 1x,
            img/my-projects/energyflow_desc@2x.jpg 2x
          "
          alt="energy flow webservice"
        />
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">energy flow webservice</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item hidden">
        <img
          src="img/my-projects/power_desc@1x.jpg"
          srcset="
            img/my-projects/power_desc@1x.jpg 1x,
            img/my-projects/power_desc@2x.jpg 2x
          "
          alt="power pulse webservice"
        />
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">power pulse webservice</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item hidden">
        <img
          src="img/my-projects/fruitbox_desc@1x.jpg"
          srcset="
            img/my-projects/fruitbox_desc@1x.jpg 1x,
            img/my-projects/fruitbox_desc@2x.jpg 2x
          "
          alt="fruitbox online store"
        />
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">fruitbox online store</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item hidden">
        <img
          src="img/my-projects/jewelry_desc@1x.jpg"
          srcset="
            img/my-projects/jewelry_desc@1x.jpg 1x,
            img/my-projects/jewelry_desc@2x.jpg 2x
          "
          alt="chego jewelry website"
        />
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">chego jewelry websitee</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item hidden">
        <img
          src="img/my-projects/mimino_desc@1x.jpg"
          srcset="
            img/my-projects/mimino_desc@1x.jpg 1x,
            img/my-projects/mimino_desc@2x.jpg 2x
          "
          alt="mimino website"
        />
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">mimino website</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item hidden">
        <img
          src="img/my-projects/starlight_desc@1x.jpg"
          srcset="
            img/my-projects/starlight_desc@1x.jpg 1x,
            img/my-projects/starlight_desc@2x.jpg 2x
          "
          alt="starlight studio landing page"
        />
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">starlight studio landing page</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item hidden">
        <img
          src="img/my-projects/vyshyvanka_desc@1x.jpg"
          srcset="
            img/my-projects/vyshyvanka_desc@1x.jpg 1x,
            img/my-projects/vyshyvanka_desc@2x.jpg 2x
          "
          alt="vyshyvanka vibes Landing Page"
        />
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">vyshyvanka vibes Landing Page</h3>
          <a
            href="https://github.com/Oleksii-Ivaniuta/NextGen-Crew-JS-Team-Project"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="./img/sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button class="load-btn" type="button"><span>Load more</span></button>
  </div>
</section>
