<section class="projects" id="#my-projects">
  <div class="container">
    <h2 class="projects-title">My <span>projects</span></h2>
    <ul class="projects-list">
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              img/my-projects/wallet_desc@1x.jpg 1x,
              img/my-projects/wallet_desc@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/my-projects/wallet_tablet@1x.jpg 1x,
              img/my-projects/wallet_tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/my-projects/wallet_mobile@1x.jpg 1x,
              img/my-projects/wallet_mobile@2x.jpg 2x
            "
          />
          <img
            src="img/my-projects/wallet_desc@2x.jpg"
            alt="wallet"
            width="1008"
            height="580"
          />
        </picture>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">Wallet webservice</h3>
          <a
            href="https://oleksii-ivaniuta.github.io/NextGen-Crew-JS-Team-Project/"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="img/my-projects/arrow-sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              img/my-projects/greenharvest_desc@1x.jpg 1x,
              img/my-projects/greenharvest_desc@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/my-projects/greenharvest_tablet@1x.jpg 1x,
              img/my-projects/greenharvest_tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/my-projects/greenharvestt_mobile@1x.jpg 1x,
              img/my-projects/greenharvest_mobile@2x.jpg  2x
            "
          />
          <img
            src="img/my-projects/greenharvest_desc@2x.jpg"
            alt="greenharvest"
            width="1008"
            height="580"
          />
        </picture>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">Green harvest webservice</h3>
          <a
            href="https://oleksii-ivaniuta.github.io/NextGen-Crew-JS-Team-Project/"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="img/my-projects/arrow-sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              img/my-projects/english_desc@1x.jpg 1x,
              img/my-projects/english_desc@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/my-projects/english_tablet@1x.jpg 1x,
              img/my-projects/english_tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/my-projects/english_mobile@1x.jpg 1x,
              img/my-projects/english_mobile@2x.jpg 2x
            "
          />
          <img
            src="img/my-projects/english_desc@2x.jpg"
            alt="english"
            width="1008"
            height="580"
          />
        </picture>
        <p class="project-desc">React, JavaScript, Node JS, Git</p>
        <div class="projects-subtitle-wrapper">
          <h3 class="projects-subtitle">English Exellence webservice</h3>
          <a
            href="https://oleksii-ivaniuta.github.io/NextGen-Crew-JS-Team-Project/"
            target="_blank"
          >
            Visit
            <svg class="project-icon">
              <use href="img/my-projects/arrow-sprite.svg#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button class="load-btn" type="button"><span>Load more</span></button>
  </div>
</section>
