<section class="reviews-section">
  <div class="container">
  <h2 class="reviews-header">Reviews</h2>
  <div class="swiper">
    <ul class="swiper-wrapper" id="reviews-list">
      
    </ul>

    <div class="reviews-navigation">
      <button class="swiper-button-prev icon-wrapper"><svg width="30" height="16">
        <use href="/img/sprite.svg#arrow-right"></use>
      </svg></button>
      <button class="swiper-button-next icon-wrapper"><svg width="30" height="16">
        <use href="/img/sprite.svg#arrow-left"></use>
      </svg></button>
    </div>
  </div></div>
</section>


  
  
  

  
  
  
  