<section id="tech-skills" class="section-tech-skills">
  <h2 class="visually-hidden">Tech Skills</h2>
  <div class="container-tech-skills">
    <div class="marquee marquee-top">
      <div class="marquee__inner">
        <div class="marquee__line">
          <span class="word black">HTML/CSS</span><span class="dot green">•</span>
          <span class="word black">JAVASCRIPT</span><span class="dot green">•</span> <span
            class="word black">REACT</span><span class="dot green">•</span>
          <span class="word black">NODE.JS</span><span class="dot green">•</span>
          <span class="word black">REACT NATIVE</span><span class="dot green">•</span>
          <span class="word black">TYPESCRIPT</span><span class="dot green">•</span>

          <span class="word black">HTML/CSS</span><span class="dot green">•</span>
          <span class="word black">JAVASCRIPT</span><span class="dot green">•</span> <span
            class="word black">REACT</span><span class="dot green">•</span>
          <span class="word black">NODE.JS</span><span class="dot green">•</span>
          <span class="word black">REACT NATIVE</span><span class="dot green">•</span>
          <span class="word black">TYPESCRIPT</span><span class="dot green">•</span>
        </div>
      </div>
    </div>

    <div class="marquee marquee-bottom">
      <div class="marquee__inner">
        <div class="marquee__line">
          <span class="word green">HTML/CSS</span><span class="dot black">•</span>
          <span class="word green">JAVASCRIPT</span><span class="dot black">•</span> <span
            class="word green">REACT</span><span class="dot black">•</span>
          <span class="word green">NODE.JS</span><span class="dot black">•</span>
          <span class="word green">REACT NATIVE</span><span class="dot black">•</span>
          <span class="word green">TYPESCRIPT</span><span class="dot black">•</span>

          <span class="word green">HTML/CSS</span><span class="dot black">•</span>
          <span class="word green">JAVASCRIPT</span><span class="dot black">•</span> <span
            class="word green">REACT</span><span class="dot black">•</span>
          <span class="word green">NODE.JS</span><span class="dot black">•</span>
          <span class="word green">REACT NATIVE</span><span class="dot black">•</span>
          <span class="word green">TYPESCRIPT</span><span class="dot black">•</span>
        </div>
      </div>
    </div>
  </div>
</section>