<section>
    <div class="container work-together-container">
          <h1 class="work-together-title work-together-bg">LET'S <span class="work-together-span">WORK TOGETHER</span></h1>
        <div class="work-together-address-div">
          <p class="work-together-par">Contact me to transform your ideas into exceptional solutions.</p>
            <address class="work-together-address">
                <ul class="work-together-ul">
                    
                    <li class="work-together-li"> 
                    <a href="tel:+380904567890">
                      <svg class="work-together-svg" width="24" height="24">
                        <use href="../img/work-together/work-together-icons.svg#icon-work-together-tel"></use>
                      </svg>+38 090 456 78 90</a>
                    </li>
                    
                    <li class="work-together-li"> 
                    <a href="mailto:lloydjefferson@gmail.com">
                      <svg class="work-together-svg" width="24" height="24">
                        <use href="../img/work-together/work-together-icons.svg#icon-work-together-mail"></use>
                      </svg>lloydjefferson@gmail.com</a>
                    </li>
                    
                    <li class="work-together-li">
                    <a href="https://www.google.com/maps/place/New+York,+NY,+USA" target="_blank">
                      <svg class="work-together-svg" width="24" height="24">
                        <use href="../img/work-together/work-together-icons.svg#icon-work-together-map"></use>
                      </svg>USA, New York</a>
                    </li>
                </ul>
            </address>
        </div>
        <div class="work-together-modal-form">
            <form class="work-together-form" id="contactForm">
              <label class="work-together-label">
                <input
                  class="work-together-input"
                  type="email"
                  name="user-email"
                  placeholder="Your email*"
                  pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                  required/> 
              </label>
              <label>
                <textarea class="work-together-input work-together-message" name="message" placeholder="Message"></textarea> 
              </label>
              <button class="work-together-button" type="submit">
                SEND MESSAGE
              </button>
            </form>
          </div>
    </div>
    
</section>
