@font-face {
  font-family: 'Impact';
  src: url('../public/fonts/impact.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Base fonts Використовуйте ці шрифти.
приклад використання шрифту:
  .section-header {
  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 800;
  ...
  } */
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;

  /* Standart font */
  font-family: var(--font-family), sans-serif;
  font-size: 16 px;
  letter-spacing: 0.2 px;
  line-height: 24 px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* background color */
  --color-bg: #f0f0f0;

  /* BASE COLORS (Використовуйте цей набір кольорів
  при написанні своєї частини. Пишемо світлу тему, 
  темна при цьому буде вмикатись автоматично
  при додаванні класу .dark до body).
  приклад використання кольору:
  .button-close {
  background-color: var(--accet-green);
  }
   */
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --light-accet: #bcdfd1;
  --hover-green: #009156;
  --error: #e74a3b;
  --hover-grey: #bbbbbb;

  /* base dark-theme colors - це кольори для темної теми, їх пропускаємо*/
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --dark-accet-dt: #204136;
  --hover-dt: #009156;
  --hover-charcoal-dt: #3b3f45;
}

.dark {
  --color-bg: #292929;
  --black: var(--white-dt);
  --accet-green: var(--accet-green-dt);
  --white: var(--white-dt);
  --light-grey: var(--charcoal-dt);
  --light-accet: var(--dark-accet-dt);
  --hover-green: var(--hover-dt);
  --hover-grey: var(--hover-charcoal-dt);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

main {
  flex-grow: 1;
}
