.footer {
  margin-top: 62px;
  border-top: 1px solid #e4e5e6;
  padding: 40px 0 24px 0;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.footer-logo {
  font-family: var(--second-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer-logo .bold {
  font-weight: 700;
  color: var(--black);
}

.footer-logo .green {
  font-weight: 700;
  color: var(--accet-green);
}

.footer-socials {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-socials li a {
  text-decoration: none;
  color: var(--black);
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.03em;
  transition: color 0.3s ease;
}

.footer-socials li a:hover {
  color: var(--accet-green);
}
.footer-bottom {
  margin: 0 auto 0 auto;
  width: 190px;
}

.footer-copyright {
  font-family: var(--font-family);
  font-size: 16px;
  text-align: center;
  color: var(--black);
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 704px;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
  }

  .footer-socials {
    flex-direction: row;
    gap: 40px;
  }

  .footer-bottom {
    margin: 0 0 0 auto;
    width: 412px;
  }

  .footer-copyright {
    text-align: right;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 1216px;
  }

  .footer-content {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
