.reviews-section {
  margin-top: 82px;
  margin-bottom: 82px;
}
.reviews-header {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews-header {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }
}
.swiper-container {
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: var(--light-grey);
  color: var(--black);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.reviews-article {
  flex-grow: 1;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  height: 96px;
  overflow: hidden;
}

.swiper-slide img {
  margin-right: 15px;
}

.swiper-slide h3 {
  font-size: 16px;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.reviews-navigation {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  width: 40px;
  height: 40px;
  border: var(--black) 1px solid;
  border-radius: 8px;
  color: var(--black);
  transform: none;
  margin: 0;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: background-color 0.3s, color 0.3s; /* Плавное изменение фона */
}

.swiper-button-prev::after {
  content: '←'; /* Левая стрелка */
  font-size: 20px;
  color: #292929;
}

.swiper-button-next::after {
  content: '→'; /* Правая стрелка */
  font-size: 20px;
  color: #292929;
}

.swiper-button-prev.swiper-button-disabled::after,
.swiper-button-next.swiper-button-disabled::after {
  color: var(--light-grey);
}

.swiper-button-next::after {
  content: '→'; /* Правая стрелка */
  font-size: 20px;
  color: #292929;
}

.swiper-button-disabled {
  border: var(--light-grey) 1px solid;
}
