.theme-btn-container {
  border-radius: 16px;
  width: 48px;
  height: 24px;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.theme-auto-set-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--accet-green);
  color: #f0f0f0;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.theme-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--black-dt);
  color: var(--black-dt);
  border: none;
  border: 2px solid var(--accet-green);
}

.theme-auto-set-btn:hover,
.theme-auto-set-btn:focus {
  background-color: var(--hover-green);
}

.theme-toggle-btn:hover .theme-toggle-btn:focus {
  border: 2px solid var(--hover-green);
}
