.work-together-container{
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.work-together-title{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.work-together-span{
  color: var(--accet-green);
}

.work-together-par{ 
  padding-top: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}


.work-together-address{
  padding-top: 32px;
  
}

.work-together-ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.work-together-li a {
  display: flex;
  align-items: center; 
  gap: 16px;}

.work-together-li{
  color: var(--black);
  white-space: nowrap;
}

.work-together-li:hover{
  color: var(--accet-green);
}

.work-together-svg{
  fill: var(--accet-green);
}


.work-together-modal-form{
  padding-top: 40px;
  position: relative;
}

.work-together-form{
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.work-together-input{
  color: var(--black);
  border: none;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 48px;
  background-color: var(--light-grey);
}

.work-together-message{
  border-radius: 8px;
  height: 128px;
  resize: none;
}

.work-together-button{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white);
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  background-color: var(--accet-green);
}

.work-together-button:hover{
  background-color: var(--hover-green);
}



@media screen and (min-width: 768px) {
  .work-together-container{
    margin-top: 62px;
    margin-bottom: 62px;
  }

  .work-together-title{
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }
  
  .work-together-par{
    width: 488px;
      font-size: 20px;
      line-height: 160%;
      padding-top: 60px;
    }
  
  .work-together-button{
    width: 173px;
  }

  .work-together-ul {
    flex-direction: row;
}
  .work-together-modal-form{
    padding-top: 60px;
}

}


@media screen and (min-width: 1280px) {
  .work-together-container{
    margin-top: 82px;
    margin-bottom: 82px;
  }

  .work-together-title{
    width: 532px;
    }

  .work-together-address-div{
    width: 488px;
    }

  .work-together-address{
    padding-top: 120px;
  }

  .work-together-ul {
    display: flex;
    flex-direction: column; 
    gap: 16px;  
  }

  .work-together-modal-form{
    width: 592px;
    padding: 0px;
  }
  
  .work-together-form{
    width: 592px;
    position: absolute;
    left: 624px;
    bottom: 1px;
  }
}

/* #region Pictures */
@media screen and (min-width: 768px) {
  .work-together-bg::after{
    content: '';
    position: absolute;
    width: 336px;
    height: 260px;
    background-image: url('../img/work-together/work-together-bg-tabl.webp');
    background-repeat: no-repeat;
    background-size: contain;
    left: 400px;
    top: -125px;
  }
  
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .work-together-bg::after{
    background-image: url('../img/work-together/work-together-bg-tabl@2x.webp');
  }
}

@media screen and (min-width: 1280px){
  .work-together-bg::after{
    width: 526px;
    height: 408px;
    background-image: url('../img/work-together/work-together-bg-desc.webp');
    left: 722px;
    top: -125px;
  }

}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi){
  .work-together-bg::after{
    background-image: url('../img/work-together/work-together-bg-desc@2x.webp');
  }
}
/* #endregion */